.discovery-title-composer .title-composer {
  position: relative;
  padding: 15px;

  .title-fields {
    display: flex;
  }

  .avatar {
    margin-right: 12px;
    margin-top: 7px;
    margin-left: 2px;
    flex: 0 1 auto;
  }

  input {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 5px 10px;
    flex: 0 2 auto;
    height: 25px;
  }

  .title-length {
    margin-left: 15px;
    margin-top: 11px;
    width: 20px;
    text-align: center;
    flex: 0 1 auto;

    &.invalid {
      color: $danger;
    }
  }

  .title-tip {
    color: dark-light-diff($primary, $secondary, 45%, -30%);
    float: left;
    line-height: 30px;
    padding-top: 10px;
    margin: 0 10px;

    &.right {
      float: right;
    }

    &.active {
      color: dark-light-choose(#fff, scale-color($primary, $lightness: 60%));
      background: $tertiary;
    }
  }

  .gutter {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .title-tip {
      padding: 0;
      flex: 0 2 auto;
    }
  }

  .btn.back {
    flex: 0 1 auto;
    margin-right: auto;
  }

  .btn.next {
    flex: 0 1 auto;
    margin-left: auto;
  }

  .composer-component {
    width: 100%;
    display: inline-block;
  }
}

.topic-type-container {
  display: flex;
  margin-left: 10px;
  padding-top: 10px;

  &.show-descriptions {
    display: block;

    .topic-type-btn {
      display: inline-block;
      width: 20%;
      margin-bottom: 10px;
    }
  }

  .topic-type-btn {
    flex: 0 1 auto;
    width: 19%;

    .fa {
      margin-right: 3px;
    }

    button {
      width: 100%;
      color: $tertiary;

      &.active, &:hover {
        color: dark-light-choose(#fff, scale-color($primary, $lightness: 60%));
        background: $tertiary;
      }
    }
  }

  .topic-type-text {
    &.body {
      display: inline-block;
      margin-top: 10px;
    }

    &.description {
      display: inline-block;
      vertical-align: middle;
      width: 70%;
      margin-left: 20px;
      div {
        width: 100%;
      }
    }
  }
}

.composer-fields {
  .form-element, .form-element + span {
    display: inline-block;
    vertical-align: middle;
  }

  .topic-type-container {
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 0;
  }
}

#reply-control.edit-title .contents input#reply-title {
  margin: 7px 0;
}

#reply-control.topic .reply-to, #reply-control.edit-title .reply-to {
  display: none;
}

.composer-controls-wiki input[type="checkbox"] {
  margin-right: 3px;
}

#topic-title .topic-title-icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.tag-chooser {
  margin: 8px 0;
}

.title-component-event {
  clear: both;
  margin-left: 15px;

  .event-label, .location-label {
    padding: 10px 0;
  }
}

#reply-control .type-selector {
  width: 100px !important;
  min-width: 100px !important;
}
